*{
    font-family: 'Roboto', sans-serif;
}
#header , #nav-menu , #contact-section , #footer{
    background-color: #FFFFF4;
}
.my-nav-link{
    color: white;
}
h1,h2{
    font-family: 'Bebas Neue', cursive;
}
.header-h1{
    font-size: 100px;
    font-family: 'Bebas Neue', cursive;
    color: #363958;
    width: 50%;
    letter-spacing: 0;
}
.header-h1 span{
    letter-spacing: -8px;
}
.moon{
    letter-spacing: 0;
    color: #76C27E;
}
.btn-buy-now{
    background-color: #2A1E59;
    color: white;
}
.btn-buy-now:hover{
    background-color: rgb(20, 15, 44);
    color: white;
}
h2{
    color: #363958;
    font-size: 48px;
    font-weight: 700;
}
h4{
    color: #363958;
    font-weight: 600;
}
.header-card{
    width: 80%;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.my-card{
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}
@media (max-width: 1199px){
    .abt-img{
        margin-top: 50%;
    }
}
@media (max-width: 991px){
    .abt-img{
        margin-top: 0%;
    }
}
@media (max-width: 767px){
    .abt-img{
        width: 50% !important;
    }
}