*{
    font-family: 'Roboto', sans-serif;
}
#header{
    background-color: #FFFFF4;
    border: 1px solid black;
}
.my-nav-link{
    color: white;
}
.header-h1{
    font-size: 100px;
    font-family: 'Bebas Neue', cursive;
    color: #363958;
    width: 50%;
    letter-spacing: 0;
}
.moon{
    letter-spacing: 0;
    color: #76C27E;
}